version: '3.8'

services:
  app:

    image: 'app:latest'
    ports:
      - "8080:8080"
    depends_on:
      - db

  db:

    image: postgres:latest
    environment:
      POSTGRES_PASSWORD: qwe1asd1
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
    ports:
      - "5436:5432"
